<div class="row footer-top" style="min-height: 200px ; background-color: #2d2d2d; ">

    <div class="col-sm-3" style="color: white;">
        <div class="row">
            <div class="col-sm-12" id="">
                <p style="padding-top: 28px; text-align: center;">Reach Us</p> <br>
               <a href="www.mjpgpkaushambi.in" style="text-decoration: none; color: white;"> <i class="bi bi-building"> 
                     </i> Address: Mahatma Jyotiba Phule Goverment Polytechnic Collage Kaushambi
            </div></a>
        </div>
    </div>
    <div class="col-sm-3">
        <ul id="our-research" style="list-style:none; color: white;">
            <li id="heading">Safety</li>
            <li><a href="">Safety Approach</a></li>
            <li><a href="">Security & Privacy</a></li>
            <li><a href="">Trust and Transprancy</a></li>
        </ul>
    </div>
    <div class="col-sm-3">
        <ul id="our-research" style="list-style:none; color: white;">
            <li id="heading">Terms & Policies</li>
            <li><a href="">Terms of use</a></li>
            <li><a href="">Privacy Privacy</a></li>
            <li><a href="">Other Policies</a></li>
        </ul>
    </div>
    <div class="col-sm-3">

        <div class="row" style="margin-top: 40px;">
            <div class="col-sm-12">
                <div class="input-group mb-3" style="align-content: end;">
                    <input type="text" class="form-control" placeholder="Recipient’s username"
                        aria-label="Recipient’s username" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Subscribe</button>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12" style="color: white; text-align: center;">Follow Us On</div>
            </div>

            <div class="row">
                <div class="col-sm-2" class="box">

                    <a href="https://www.instagram.com/anujravan07/?hl=en"><i class="bi bi-instagram text-light"
                            style="font-size: 25px;"></i> </a>


                </div>
                <div class="col-sm-2"><a href="https://x.com/anuj_ravan5"> <i class="bi bi-twitter-x text-light "
                            style="font-size: 25px;"></i></a></div>


                <div class="col-sm-2"><a href="https://www.linkedin.com/in/anuj-kumar-867418300/"><i
                            class="bi bi-linkedin text-light" style="font-size: 25px;"></i></a>
                        </div>

                        <div class="col-sm-2" ><a href="https://www.facebook.com/Anuj9590/"><i class="bi bi-facebook text-white" style="font-size: 25px;"></i></a></div>
          
                        <div class="col-sm-2" ><a href="https://www.threads.com/@anujravan07"><i class="bi bi-threads-fill text-light" style="font-size: 25px;"></i></a></div>
                    <div class="col-sm-2" ><a href="https://www.youtube.com/@anujravan21"><i class="bi bi-youtube text-light" style="font-size: 25px;"></i></a></div>
                    </div>

                    <!--  <div class="row" id="social"><div class="col-sm-12"  >
                        
                        
                       
                        
                           
                            <a href="https://www.instagram.com/anujravan07/?hl=en"><i class="bi bi-instagram text-light" style="font-size: 25px;"></i> </a>
                             <a href="https://x.com/anuj_ravan5"> <i class="bi bi-twitter-x text-light "style="font-size: 25px;"></i></a>
                           <a href="https://www.linkedin.com/in/anuj-kumar-867418300/"><i
                            class="bi bi-linkedin text-light" style="font-size: 25px;"></i></a>
                             <a href="https://www.facebook.com/Anuj9590/"><i class="bi bi-facebook text-white" style="font-size: 25px;"></i></a>
                            <a href="https://www.threads.com/@anujravan07"><i class="bi bi-threads-fill text-light" style="font-size: 25px;"></i></a>
                            <a href="https://www.youtube.com/@anujravan21"><i class="bi bi-youtube text-light" style="font-size: 25px;"></i></a>

                    </div></div> -->




        </div>

    </div>

    <div class="row footer-bottom text-center text-white "
        style="min-height: 50px; background-color: rgb(28, 28, 28); align-content: center;">
        <div class="col-sm-6"> Copyright &copy; to <a href="https://mykss.in" target="_blank" style="color: azure;">KSS
                Chitrakoot</a></div>

        <div class="col-sm-6" style="align-content: center; ">Developed by:
            <a href='{{url_for("open_developer")}}'
                style="text-decoration: none; color: white; min-width: 200px; min-height: 50px; "> Er. Anuj Kumar</a>
        </div>
    </div>