<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aboutus</title>
    {%include 'common/mylinks.html'%}
</head>
<body>
    <div class="container-fluid fixed-top " style="background-color:#292727;" >
        {%include 'common/header.html'%}
    </div>
    <div class="container-fluid" style="margin-top: 300px;">

<div class="row" style="margin-top: 20px; margin-left: 10px;" >
    <div class="col-sm-1" ></div>
    <div class="col-sm-10 text-light "  >
        <h3>About Us</h3>
        <p>Welcome to StudyMate – Your Smart Study Companion! <br>
StudyMate is an AI-powered chatbot developed specially for students of Mahatma Jyotiba Phule Government Polytechnic College. <br> Whether you need help with syllabus topics, exam preparation, previous year question papers, college notices, or quick tech support – StudyMate is always here to assist you.</p>
    </div>
    <div class="col-sm-1" ></div>
</div>

<div class="row text-light " style="margin-top: 20px;"  ><div class="col-sm-1" ></div>
    <div class="col-sm-10" ><ul><h4> What StudyMate Can Do:</h4>
        <li>Answer your academic questions anytime, anywhere</li>
        <li>Share class schedules, exam timetables, and syllabus details</li>
        <li>Guide you through practicals, assignments, and project ideas</li>
        <li>Help you explore career paths and learning resources</li>
        <li>Connect you with important college updates instantly</li>
        
</ul>

</div><div class="col-sm-1" ></div></div>

<div class="row text-light" style="margin-top: 20px; margin-left: 10px;">
<div class="col-sm-1" ></div>
<div class="col-sm-10" >  <h4>Why Use StudyMate?</h4>
<p>We understand that students need quick, reliable, and personalized support. StudyMate saves your time by providing instant help – just like a friend who’s always ready to assist.</p></div>
<div class="col-sm-1" ></div>

</div></div>


<div class="container-fluid" >

        {%include 'common/footer.html'%}
    </div>
</body>
</html>