<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    {%include 'common/mylinks.html'%}
</head>

<body>
    <div class="container-fluid fixed-top " style="background-color:#292727 ">
        {%include 'common/header.html'%}
    </div>
   
<div class="container-fluid" style="margin-top: 300px;">
    <div class="row main" style="color: white;">

             
                <div class="col-sm-4" style="text-align: center;">
                    <h3 style="text-align: center; margin-bottom: 50px;">Contact Us</h3>
                   
               <a href="www.mjpgpkaushambi.in" style="text-decoration: none; color: white;"> <i class="bi bi-building"> 
                     </i> Address: Mahatma Jyotiba Phule Goverment Polytechnic Collage Kaushambi</a><br>

               Contact Us: <a href=""> <i class="bi bi-telephone-fill">7565027588</i></a>
                 
                  </div>
                <div class="col-sm-8 " style="text-align: center;"> 
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3259.2689457796114!2d81.33113197484678!3d25.484714219996174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399b2e5e5f0bed7b%3A0x1302a9873851da7c!2sMahatma%20Jyotibaphule%20Government%20Polytechnic%2C%20Kaushambi!5e1!3m2!1sen!2sin!4v1754231336908!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    
                </div>
                        
                </div>
            </div>
        

    





   <div class="container-fluid" >
        {%include 'common/footer.html'%}
    </div>
</body>

</html>